.intro {
  padding: 11%;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background-image: url("src\assets\images\18851-geometricos.jpg");
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img {
  width: 18rem;
  height: 18rem;
  margin: 5%;
  background: url("src\assets\images\55468044.jfif");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 55%;
  background-position-y: 45%;
  border-radius: 10rem;
}
.nombre {
  color: var(--secundary-color);
  font-weight: 300;
  cursor: default;
}
.descripcion {
  color: white;
  font-weight: 300;
  cursor: default;
}
.contact {
  padding: 0;
  text-align: center;
  column-count: 2;
  margin-top: 2rem;
  color: white;
  list-style: none;
}
.contact a {
  font-size: 30px;
  color: white;
}
.contact a:hover {
  color: var(--secundary-color);
}
@media only screen and (max-width: 880px) {
  .img {
    width: 17rem;
    height: 17rem;
    margin-top: 13%;
  }
}