<section id="contact">
  <div class="contact">
    <div class="content-contact row gx-0 p-0">
      <div class="info col-7 p-0">
        <h1>CONTACT</h1>
        <p>
          If you are intrested in hiring me, call me, email me or connect and
          chat with me via LinkedIn!
        </p>
      </div>
      <div class="info-div col p-0">
        <div class="info-contact">
          <h2>Info</h2>
          <ul class="p-0">
            <li>
              <a href="mailto:julian.sarmiento.jeso@gmail.com"
                ><i class="bi bi-envelope-at"></i> julian.sarmiento.jeso@gmail.com</a
              >
            </li>
            <li>
              <a href="https://wa.me/3153609852?" target="_blank" class="whatsapp"
                ><i class="bi bi-whatsapp"></i> +57 3153609852</a
              >
            </li>
            <li><i class="bi bi-house-door"></i> Bogotá D.C | Colombia</li>
            <li>
              <a href="https://www.linkedin.com/in/julian-sarmiento-38a1551b5/" target="_blank"><i class="bi bi-linkedin"></i> Linkedin</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-contact">
    <p>
      Created by Julian Sarmiento | All rights reserved
      <i class="bi bi-c-circle"></i>
    </p>
  </div>
</section>
