.contact {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, black, var(--primary-color));
  padding: 0.3rem;
  margin: var(--padding-general);
  margin-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;
  cursor: default;
}
.content-contact {
  display: flex;
  background-color: white;
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
  margin-bottom: -250px;
}
.content-contact h1 {
  color: var(--primary-color);
  font-size: 4rem;
  font-family: "Unbounded", sans-serif;
  letter-spacing: 1px;
  padding-bottom: 15px;
  border-bottom: 2px solid var(--secundary-color);
  margin: 4rem 0 4rem 4rem;
}
.content-contact p {
  margin: 0.5rem 0 4rem 4rem;
  width: 50%;
}
.info-contact {
  background: rgba(1, 115, 121, 0.226);
  z-index: 1;
  margin: 5rem 0 5rem 0;
  padding: 1.5rem 3rem 1rem 3rem;
}
.info-contact h2 {
  color: black;
}
li {
  list-style: none;
  margin: 1rem 0 1rem 0;
  color: #353535;
  cursor: default;
}
i {
  font-size: 24px;
  margin-right: 4px;
  transition: .3s ease;
}
li:hover .bi-envelope-at {
  color: red;
}
li:hover .bi-whatsapp {
  color: #31D24F;
}
li:hover .bi-house-door {
  color: var(--secundary-color);
}
li:hover .bi-linkedin {
  color: #006394;
}
li a {
  text-decoration: none;
  color: #353535;
}
.footer-contact {
  align-items: center;
  background: linear-gradient(to right, black, var(--primary-color));
  color: white;
  height: 28rem;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}
@media only screen and (max-width: 1180px) {
  .content-contact h1 {
    font-size: 3.5rem;
    margin: 4rem 0 2rem 2rem;
  }
  .content-contact p {
    margin: 2rem 0 2rem 2rem;
    width: 60%;
  }
  .info-contact h2 {
    font-size: 2.5;
  }
  .info-contact {
    padding: 1.5rem 1rem 1rem 1rem;
  }
  i {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1000px) {
  .contact {
    margin: 5rem 3.5rem 0 3.5rem;
  }
}
@media only screen and (max-width: 780px) {
  .content-contact {
    flex-direction: column;
  }
  .content-contact p {
    width: 100%;
  }
  .info-contact{
    margin: 0;
  }
  .info-contact ul {
    column-count: 2;
  }
}
@media only screen and (max-width: 510px) {
  .contact {
    margin: 5rem 1.5rem 0 1.5rem;
  }
  .content-contact h1 {
    font-size: 2.5rem;
    margin: 4rem 0 2rem 2rem;
  }
  .info-contact h2 {
    text-align: center;
  }
  .info-contact ul {
    column-count: 1;
    text-align: center;
  }
}
@media only screen and (max-width: 340px) {
  .contact {
    margin: 5rem 1rem 0 1rem;
  }
  .content-contact h1 {
    font-size: 1.5rem;
    margin: 2rem 0 1rem 1rem;
  }
  .content-contact p {
    margin: 2rem 0 2rem 2rem;
  }
  .info-contact{
    margin: 0;
  }
  .info-contact h2 {
    text-align: center;
  }
  .info-contact ul {
    column-count: 1;
    text-align: center;
  }
}

