<section id="about">
  <div class="container-about">
    <div class="card">
      <div class="row m-0">
        <div class="col-3 img"></div>
        <div class="col-9 card-info">
          <div class="card-body p-0 pt-4">
            <h5 class="card-subtitle">Discover</h5>
            <h3 class="card-title">About Me</h3>
            <p class="card-text">
              My name is Julian Sarmiento. I'm a Full Stack Developer based in
              Bogota D.C, Colombia, and I'm very passionate and dedicated to my
              work. With 3 years experience as a professional Full Stack
              Developer, I think being in peace with myself is a very important
              aspect when it comes to working in an efficient and tidy way.
            </p>
            <div class="info">
              <ul class="p-0">
                <li><span>Name:</span> Julian Enrique Sarmiento Ortega</li>
                <li><span>Age:</span> 25</li>
                <li><span>Experience:</span> 3 Years</li>
                <li><span>Address:</span> Bogotá D.C, Colombia</li>
              </ul>
            </div>
            <a
              href="../../../assets/CV.pdf"
              class="btn"
              target="_blank"
              download="CV.pdf"
              >Download CV</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="intro-skills">
      <div>
        <h3>My Skills</h3>
      </div>
      <div class="skills">
        <div class="skill1">
          <div class="skill-img1"></div>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star starnone"></i></li>
        </div>
        <div class="skill2">
          <div class="skill-img2"></div>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star starnone"></i></li>
        </div>
        <div class="skill3">
          <div class="skill-img3"></div>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star starnone"></i></li>
        </div>
        <div class="skill4">
          <div class="skill-img4"></div>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star starnone"></i></li>
          <li><i class="bi bi-star starnone"></i></li>
        </div>
        <div class="skill5">
          <div class="skill-img5"></div>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star starnone"></i></li>
          <li><i class="bi bi-star starnone"></i></li>
        </div>
        <div class="skill6">
          <div class="skill-img6"></div>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star starnone"></i></li>
          <li><i class="bi bi-star starnone"></i></li>
        </div>
        <div class="skill7">
          <div class="skill-img7"></div>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star-fill"></i></li>
          <li><i class="bi bi-star starnone"></i></li>
        </div>
      </div>
    </div>
  </div>
</section>
