<header class="d-flex flex-wrap justify-content-center py-2 mb-4 header">
  <h2 class="align-items-center me-md-auto text-decoration-none title">
    <span class="nom">JULI</span><span class="bre">AN </span><span class="apellido">SARMIENTO</span>
  </h2>
  <ul class="navbar">
    <li class="">
      <a href="#" class="navlink active" aria-current="page">HOME</a>
    </li>
    <li class=""><a href="#" class="navlink">ABOUT</a></li>
    <li class=""><a href="#" class="navlink">PROJECTS</a></li>
    <li class=""><a href="#" class="navlink">CONTACT</a></li>
  </ul>
</header>